@import url(./grid.css);
@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

/* 웹카페 반응형 스타일 */
/* 공통 스타일 */
body {
  font-size: var(--text-sm);
}

/* 공통 아이콘 */
.far {
  margin-right: var(--spacing-xs);
}

/* 공통 헤더 */
.appHeader {
  position: relative;
  padding: var(--spacing-base) var(--spacing-lg);
}

/* 공통 로고 */
.logo {
  width: 12.75rem; /* 204px */
  height: 3.75rem; /* 60px */
}

.logo__link {
  display: block;
  width: 100%;
  height: 100%;
  background: url(./../images/webcafe-logo.png) no-repeat 0 0 / 100%;
}

/* 공통 멤버서비스 */
.memberOnly {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/* 공통 검색 폼 */

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.button--none {
  border: 0;
  padding: 0;
  background: transparent;
}

.button {
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
  height: 2rem;
  padding: 0.125rem 0.75rem;
  background: transparent;
}

.button--fillSecondary {
  color: var(--white);
  background: var(--secondary-color);
}

.button--outlineSecondary {
  color: var(--secondary-color);
  border: 1px solid currentColor;
}

.formInput__input {
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  height: 2rem;
  padding: 0.125rem 0.75rem;
  width: 100%;
}

.searchForm__group {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--spacing-xs);
}

/* 공통 메인 메뉴 */
.menu__list {
  padding-left: 0;
  list-style: none;
  background: var(--secondary-color);
}

.menu__link {
  display: block;
  font-weight: 700;
  padding: var(--spacing-sm);
  color: var(--white);
}

/* 공통 메인 콘텐츠 */
.appMain {
  display: grid;
  padding: var(--spacing-base) var(--spacing-lg);
}

/* 공통 메인 콘텐츠 제목 */
.sprite {
  background: url(./../images/sprite_main.png) no-repeat;
  padding-left: 4.0625rem;
  height: 3.75rem;
}

.spriteBook {
  background-position: 0 0;
}

.spriteNews {
  background-position: 0 -230px;
}

.spriteBoard {
  background-position: 0 -115px;
}

.spriteFavorite {
  background-position: 0 -345px;
}

.spriteTwitter {
  background-position: 0 -460px;
}

.accentBook {
  color: var(--accent-book);
}
.accentNews {
  color: var(--accent-news);
}
.accentBoard {
  color: var(--accent-board);
}
.accentFavorite {
  color: var(--accent-favorite);
}
.accentTwitter {
  color: var(--accent-twitter);
}

.appMain [class*="__title"] {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.appMain [class*="__koTitle"] {
  font-size: var(--text-md);
}

.appMain [class*="__enTitle"] {
  font-weight: 400;
  font-size: var(--text-base);
}

.appMain [class*="__summary"] {
  line-height: 1.5;
  margin-top: var(--spacing-base);
}

/* 공통 추천서적 */
.book__cover {
  width: 60%;
  text-align: center;
  margin: var(--spacing-base) auto;
}

.book__coverCaption {
  margin-top: var(--spacing-sm);
}

.book__info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.ratingStar {
  font-size: var(--text-lg);
}

/* 공통 새소식 */
.news__videoContainer {
  margin-top: var(--spacing-sm);
}

.iframeWrapper {
  background: yellow;
  aspect-ratio: 16 /9;
}

iframe {
  width: 100%;
  height: 100%;
}

.news__date {
  display: block;
  text-align: right;
  margin-top: var(--spacing-sm);
}

/* 공통 게시판 */
.board {
  background: skyblue;
}

/* 공통 인기사이트 */
.favorite {
  background: salmon;
}

/* 공통 트위터 */
.twitter {
  background: yellowgreen;
}

/* 모바일 디바이스 */
@media (min-width: 320px) and (max-width: 767px) {
  /* 모바일 헤더 */
  .appHeader {
    background: var(--primary-color);
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-sm);
  }

  /* 모바일 멤버서비스 */
  .memberOnly {
    color: var(--white);
    order: -1;
  }
  /* 모바일 검색폼 */
  .searchForm__group .formInput {
    flex-grow: 1;
  }

  /* 모바일 메인 메뉴 제어 버튼 */
  .buttonWrapper {
    position: absolute;
    right: var(--spacing-md);
    top: 3.5rem;
    overflow: hidden;
    padding: 0.25rem;
  }

  .button--burger {
    position: relative;
    display: block;
    width: 1.875rem;
    height: 1.875rem;
  }

  .button--burger:focus {
    outline-offset: 2px;
  }

  .button--burgerBarTop,
  .button--burgerBarMiddle,
  .button--burgerBarBottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    background: var(--white);
    border-radius: 1.5rem;
    transition: all 400ms;
  }

  .button--burgerBarTop {
    top: 0;
  }

  .button--burgerBarMiddle {
    top: 50%;
    transform: translateY(-50%);
  }

  .button--burgerBarBottom {
    top: 100%;
    transform: translateY(-100%);
  }

  .button--burger.is--active .button--burgerBarTop {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .button--burger.is--active .button--burgerBarMiddle {
    transform: translate(-120%, -50%);
  }

  .button--burger.is--active .button--burgerBarBottom {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  /* 모바일 메인 메뉴 */
  .menu__list {
    background: var(--accent-opacity-color);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    backdrop-filter: blur(4px);
    padding: var(--spacing-lg);
    transform: translateX(-150%);
    transition: all 400ms;
  }

  .menu.is--active .menu__list {
    transform: none;
  }

  .menu__item {
    border-bottom: 1px solid var(--black);
  }

  /* 모바일 메인 콘텐츠 */
  .appMain {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/* 데스크탑 디바이스 */
@media (min-width: 768px) {
  /* 데스크탑 헤더 */
  .appHeader {
    display: grid;
    grid-template-columns: 204px 1fr;
    gap: var(--spacing-base);
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
  }
  /* 데스크탑 로고 */
  .logo {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
  }

  /* 데스크탑 검색 폼 */
  .searchForm__group {
    justify-content: flex-end;
  }
  .searchForm__group .formInput {
    width: 25rem;
  }

  /* 데스크탑 메인 메뉴 제어 버튼 */
  .buttonWrapper {
    display: none;
  }

  /* 데스크탑 메인 메뉴 */
  .menu {
    background: var(--secondary-color);
    padding: var(--spacing-base) var(--spacing-lg);
  }

  .menu__list {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container-width);
    color: var(--white);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .menu__link {
    font-size: var(--text-md);
    text-shadow: 1px 1px 0 var(--black), -1px -1px 0 var(--black);
  }
  /* 데스크탑 메인 콘텐츠 */
  .appMain {
    gap: var(--spacing-md);
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "news news news news news news news news news news news news "
      "book book book book book twitter twitter twitter twitter favorite favorite favorite"
      "book book book book book board board board board board board board";
  }
  .news {
    grid-area: news;
  }
  .book {
    grid-area: book;
  }
  .board {
    grid-area: board;
  }
  .favorite {
    grid-area: favorite;
  }
  .twitter {
    grid-area: twitter;
  }
}