@import url(./a11y.css);
@import url(./base.css);

/* 교육과정 정보 테이블 */
.lecture {
  background: #000;
  width: 800px;
  margin: 3rem;
}

.lecture__table {
  width: 100%;
  background: #fff;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  top: -10px;
  left: -10px;
}

.lecture__table caption {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  padding-bottom: 1.5rem;
  background: #fff;
}

.lecture__table th,
.lecture__table td {
  border-bottom: 1px solid black;
  padding: 15px 5px;
}

.lecture__table th {
  text-align: left;
}